version: 2.1
jobs:
  build:
    docker:
      - image: alpine:3.7
    steps:
      - chekcout
      - run:
          name: The First Step
          command: |
            echo 'Hello World!'
            echo 'test'
      - run:
          name: Code Has Arrived
          command: |
            ls -al
            echo '^^^ That should look familiar'