p.event-history= link_to 'ユーザ検索','/msgs/select_user',{class:"btn"}
ul.msg-user-list
  - @msg_users.each do |msg_user|
    li= link_to msg_user.relation.name , "/msgs/#{msg_user.relation.id}&room=#{msg_user.room_id}",:'data-turbolinks'=>false