@import "font-awesome-sprockets";
@import "font-awesome";

body,p,h1,h2,h3,dl,dd,dt,ul,li{
  margin:0;
  padding:0;
}
input[type="submit"]{
  margin:0;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;  
  width:100%;
  line-height:35px;
  height:35px;
  font-size:16px;
  background-color:#16A6B6;
  border-radius: 3px;
  color:#fff;
  cursor: pointer;
  transition: 0.3s;
  display:block;

  &:hover{
    opacity:0.8;
  }
}

input[type="text"]{
  width:300px;
  height:30px;

}
input[type="password"]{
  width:300px;
  height:30px;

}
.desc{
  width:300px;
  height:300px;
}
input.submit{
  height:60px;
  font-size:30px;
  padding:10px;
}
body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:14px;
  color:#333;
}
.msg-content img{
  max-width: 400px;
  height: auto;
}
.header{
  border-bottom:1px solid #333;
  padding:10px;
  position: fixed;
  width:100%;
  top:0;
  left:0;
  background-color:#fff;
  z-index:999;
  h1 {
    font-size:16px;
    a{
      text-decoration: none;
      color:rgb(250, 133, 133);
    }
  }
  #menu{
    a:before{
      content:'';
      display:inline-block;
      width:35px;
      height:35px;
      background-image:url(image-path('menu.png'));

    }
  }  
}
.header-nav{
  display:none;
}
.main{
  padding-top:100px;
  width:95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  text-align: center;
  
  .page-title{
    font-size:16px;
    padding:10px;
  }  
  .event-new{
    text-align:center;
    width:300px;
    margin:0 auto;
  }
  .btn{
    text-decoration: none;
    text-align: center;
    background-color:#16A6B6;
    color:#fff;
    width:300px;
    height:50px;
    line-height:50px;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: bold;
  }
  .btn:hover{
    opacity:0.8;
  }
  .btn-min{
    text-decoration: none;
    background-color:#bfbfbf;
    text-align: center;
    color:#fff;
    width:100px;
    height:50px;
    line-height:50px;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: bold;
    font-size:12px;
  }
  .btn-min:hover{
    opacity: 0.8;
  }
  .msg{
    width:100%;
    border-radius: 10px;
    height:3.5em;
    border:1px solid #999;
    resize:none;
  }
  .event-history{
    width:300px;
    margin:0 auto;
  }
  .msg-user-list{
    padding:0;
    margin:0 auto;
    display:block;
    li{
      list-style-type:none;
      border-top:1px solid #aaa;
      a{
        text-decoration: none;
        width:100%;
        display: block;
        padding:10px;
        transition: 0.3s;
        color:#333;
      }
      a:hover{
        background-color:#eee;
      }
    }
  }
  .msg-list{
    li{
      list-style-type: none;
      padding:10px;
    }
  }
  .msg-content{
    display:block;
    border:1px solid #eee;
    width:95%;
    border-radius: 10px;
    padding:10px;
    background-color:#f7f7f7;
  }
  .content{
    width:98%;
    margin:0 auto;
    text-align:center;

  }
  p.sign-up{
    width:150px;
    margin:0 auto;
  }
}

form{
  width:100%;
  display:block;
}
.form_group{
  margin-top:5px;
  margin-bottom:15px;
}
.event-result a{
  text-decoration: none;
  color:#333;
}

.event{
  /*
    &:nth-child(odd){
      background-color:#f7f7f7;
    }
  */
    cursor: pointer;
    clear:both;
    overflow: hidden;
    /*padding:10px;*/
    border:1px solid #eee;
    box-shadow: 1px 1px 3px #aaa;
    margin-bottom:15px;
    dt{
      text-align: center;
      font-weight: bold;
      padding:10px;
      border-bottom:1px dotted #eee;
      color: #2980b9;
      background-color:#f6f5f4;
    }
    dd{
      padding:10px;
      overflow: hidden;
      position:relative;
      .list-img{
        float:left;
        border:1px solid #eee;
        margin-right:5px;
      }
      .list-desc{
        float:left;
        text-align: left;
      }
      .detail-icon{
        position: absolute;
        top:50%;
        right:10px;
        transform: translateY(-50%);
      }
    }
}
.event-show{
  width:90%;
  margin:0 auto;
  th{
    background-color:#f7f7f7;
    text-align: left;
    padding:5px;
  }
  td{
    padding:5px;
  }

}
.event-detail{
  width:100%;
  input[type="submit"]{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    font-size:24px;
  }  
}
.event-app{
  margin-right:10px;
}
footer{
  background-color:#333;
  color:#fff;
  text-align: center;
  padding:10px;
  width:100%;
  address{
    font-style: normal;
  }
}

nav{
  li{
    display:block;
    margin-right:10px;
    padding:10px;
    border-bottom:1px dotted #eee;
    a{
      text-decoration: none;
      color:#333;
    }
    a:hover{
      color:blue;
      text-decoration: underline;
    }
  }
}

table{
  border-collapse: collapse;
  th,td{
    border:1px solid #aaa;
    padding:3px;
  }
}

.event_list{
  border:1px solid #333;
  dt,dd{
    padding:5px;
  }
  dt{
    text-align: center;
    border-bottom:1px solid #333;
  }
}


.acc{
  cursor: pointer;
  display:block;

  .area{
    border-bottom:1px solid #aaa;
    text-align: center;
  }
  li{
    list-style-type: none;
    padding:5px;
    a{
      text-decoration: none;
      transition: 0.3s;
      color:skyblue;
      display:block;
      padding:10px;
      text-align: center;
      &:hover{
        color:#fff;
        background-color:#666;
      }
    }
  }
  ul{
    display:none;
    padding:0;
  }
}
/*
Component
*/
.label{
  background: #f6f5f4;
  display:block;
  height:30px;
  line-height:30px;
  font-weight: bold;
}

.event-app-btn-list li{
  display: inline-block;
  margin-right:5px;
}

.search-config {
  margin-top:10px;
  margin-bottom:20px;
  padding:5px;
  border:1px solid #eee;
  box-shadow: 1px 1px 2px #aaa;
  table{
    width: 100%;
  }
  th,td{
    padding:10px;
    border:1px solid #eee;
  }
  th{
    font-weight: normal;
    background-color:#f6f5f4;
    text-align:left;
  }
  td{
    text-align: center;
  }
  .select-pref select{
    width:100%;
    height:30px;
    display: block;
    font-size: 14px;
  }
  .select-date select{
    width: 27%;
    height:30px;
    font-size:14px;
    margin-right:1%;
    margin-left:1%;
  }
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  width: 90%;
  height: 500px;
  margin: 15px auto;
}

.img-thum{
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.img-thum-l{
  width: 90%;
  height: 300px;
  object-fit: cover;
}